<div id="formWrapper">
    @if (schema && formConfig) {

    <form (ngSubmit)="onSubmit()" id="form">
        <h2 id="form-title">
            {{ schema.title }}
        </h2>
        @for (section of formConfig.sections; track $index) {
            @if (displaySection(section.title)) {
                <section class="form-section">
                    <h3>
                        {{ section.title }}
                    </h3>
                    @for (field of section.fields; track $index) {
                        <div>
                            <label>{{ getFormLabel(field) }} </label>
                            @if (field.options) {
                                <select class="form-input" [name]="field.key" (change)="setReasonIndex(field)" [(ngModel)]="formData[field.key]">
                                    @for (option of field.options; track $index) {
                                        <option [value]="option">{{ option }}</option>
                                    }
                                </select>
                            } @else if (isDateField(field)) {
                                <input class="form-input" type="date" [name]="field.key" [(ngModel)]="formData[field.key]"/>
                            } @else if(isEmailField(field)) {
                                <input class="form-input" type="email" [name]="field.key" [(ngModel)]="formData[field.key]"/>
                            } 
                            @else {
                                <input class="form-input" type="text" [name]="field.key" [(ngModel)]="formData[field.key]" [required]="field.required" />
                            }
                        </div>
                    }
                </section>
            }
        }
        @if (isLastSection) {
            <button [disabled]="!allRequiredFilled()" [ngClass]="{'btn-disabled': !allRequiredFilled()}" type="submit">Złóż wniosek</button>
        } @else {
            <button [disabled]="!allRequiredFilled()" 
                [ngClass]="{'btn-disabled': !allRequiredFilled()}" 
                (click)="goToNextSection()"
                type="button">Następna sekcja</button>
        }

        @if (!allRequiredFilled()) {
            <caption class="error-caption">Wypełnij wszystkie wymagane pola</caption>
        }
    </form>
    }
</div>