#formWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form {
    min-width: 800px;
    width: min(800px, 90%);
    margin-top: 2rem;
    background-color: rgba(255, 255, 255, 0.685);
    border-radius: 6px;
    box-shadow: 0 1px 6px rgba(black, .4);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    #form-title {
        align-self: center;
    }

    #reasonSelect {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    h3 {
        margin: 0;
        padding: 0;
    }

    div {
        display: flex;
        flex-direction: column;
        gap: .2rem;
        margin-bottom: .5rem;

        .form-input {
            padding: .2rem .4rem;
            font-size: 20px;
        }
    }

    button {
        padding: .5rem;
        border: none;
        border-radius: 6px;
        background-color: #0093E9;
        color: white;
        font-weight: bold;
        font-size: 24px;
        width: 100%;

        &:hover {
            cursor: pointer;
            opacity: .9;
        }
    }
    // align-items: center;

    // div {
    //     align-self: flex-start;
    // }
}