<!doctype html>
<html lang="en">
    <head>
        <title>Formularz Flask</title>
    </head>
    <body>
        <form method="post">
            <label for="name">Imie:</label>
            <input type="text" id="name" name="name">
            <br>
            <label for="surname">Nazwisko:</label>
            <input type="text" id="surname" name="surname">
            <br>
            <label for="age">Wiek:</label>
            <input type="text" id="age" name="age">
            <br>
            <input type="submit" value="Wyślij">
        </form>
    </body>
</html>